@import "bourbon";

$bkg_color: #eaeaea;
$container_border_color: #dbdbdb;

$scheme_deafult: #4d84de;
$scheme: #4d84de;
$scheme_background: #eaeaea;
$scheme_content_background: #FFF;


@mixin border-radius($radius){
  -webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
  -o-border-radius: $radius;
	-khtml-border-radius: $radius;
	border-radius: $radius;
}

@mixin text-shadow($radius){
	text-shadow: $radius;
}





a{
  text-decoration:none;
}
div, .clear{
  @include clearfix;
}



body{
  color: #7d7d7d;
  position: relative;
  font: 12px/21px  Arial, Helvetica, sans-serif;
  background-color:#FFF;
  font-weight:300;
  margin:0;
  padding:0;
  
  .shadow {
  	background-image: url("http://dixiedirectcard.com/images/shadow.png");
  	background-repeat:repeat-y;
  	margin-left: auto;
  	margin-right: auto;
  	width: 1040px;
  	height: 100%;
  	overflow:auto;
  	
  	
    .container{
      margin-left: 42px;
    	margin-right: 20px;
    	width: 960px;
    	height: 100%;
    	overflow:auto;
    	color:#000000;
    	background-color:#FFF;
    	
    	.top_bar{
    	  @include linear-gradient(#58595B, #404041);
    	  height:auto;
    	  width:auto;
    	  overflow:auto;
    	  color:#CCC;
    	  padding:3px 5px 0 5px;
    	  .left{
    	    float:left;
        	width:570px;
        	height:25px;
    	    a{
    	      color:#CCC;
    	    }
    	  }
    	  .right{
    	    text-align:right;
        	float:left;
        	width:380px;
        	height:25px;
    	    
    	  }
    	}
    	
    	.main_header{
    	  background-image: url("http://dixiedirectcard.com/images/orange/header.png");
    	  height:106px;
    	}
    	
    	.navigation_bars{
    	  .top_nav_bar{
    	    height:40px;
    	    @include linear-gradient(#58595B, #404041);
  	      margin:0;
  	      padding:0;
    	    
    	    ul.primary{
    	      float:left;
    	      margin:0;
    	      padding:0;
    	      list-style-type:none;
    	      padding:10px 3px 5px 5px; 
    	      li{
    	        display:inline-block;
    	        a{
    	          color:#FFF;
    	          padding:.2em .6em; 
    	          font-weight:300;
    	          font-size:14px;
    	          
    	        }
    	      }
    	    }
    	    .search{
    	      float:right;
    	      padding:5px;
    	      input{
    	        
    	        width:200px;
    	        height:20px;
    	        @include border-radius(5px);
    	      }
    	    }
    	  }
    	  .bottom_nav_bar{
    	    height:20px;
    	    background-color:#FBAE17;
  	      margin:0;
  	      padding:0;
    	    
    	    
    	    
    	    ul.secondary{
    	      margin:0;
    	      padding:0;
    	      list-style-type:none;
    	      li{
    	        display:inline-block;
    	        a{
    	          color:#000;
    	          padding:5px 15px;
    	          font-weight:300;
    	        }
    	      }
    	    }
    	    
    	  }
    	}
    	
    }
    
    .yield{
      

      // Pages
      .page{
        
        
        .widget{
          height:auto;
        	overflow:auto;
        	
          &.column_1{
            margin: 10px 10px 5px 10px;
          }
          &.column_2{
            margin: 10px 10px 5px 10px;
          	float:left;
          	width:47%;
          }
          
          &.color_1{
            .header{
              @include linear-gradient(#f2f2f2, #e5e6e4);
              border: 1px solid #CFD1D2;
              h1{
                color:#404041;
              }
            }
          }
          &.color_2{
            .header{
              @include linear-gradient(#faae1a, #f06624);
              border: 1px solid #C95223;
              
              
              h1{
                color:#FFFFFF;
                @include text-shadow(1px 1px 0px #000)
                
              }
            }
            
          }
          .header{
            height:43px;
            @include border-radius(5px 5px 0 0);
            h1{
              font-family: Arial;
              margin:0;
            	font-size:22px;
            	font-weight:300;
            	padding-left:10px;
            	padding-top:10px;
            	float:left;
            }
          }
          .content{
            border:1px solid #DBDBDB;
          	border-top-style:none;
          	padding:10px;
          	font-size:12px;
          	height:auto;
          	overflow:auto;
          }
          
        }
        
        // Index
        &.index{
          
          .banner{
          	padding:5px 5px 5px 0px;
          	
          	.left{
          	  background:url("http://dixiedirectcard.com/images/orange/banner_left_bkg.png");
            	background-repeat:repeat-x;
            	height:286px;
            	width:219px;
            	float:left;
            	
          	  .form{
              	padding-top:180px;
              	font-size:12px;
              	color:#231F20;
              	select{
              	  
              	}
          	    .btn_submit{
          	      @include linear-gradient(#F9D5A3, #E29522);
          	      @include border-radius(5px);
          	      border:1px solid #000;
          	      padding:10px;
          	      font-size:14px;
          	      cursor: pointer;
          	      &:hover{
          	        @include linear-gradient(darker(#F9D5A3, 10%), darker(#E29522, 10%));
          	      }
          	    }
          	  }
          	}
          	.right{
          	  height:286px;
            	width:734px;
            	float:left;
          	}
          }
          
          ul#triggers {
          	margin:0;
          	padding:0;
          	padding-top:12px;
          	margin-left:60px;
          	float:left;
            li {
            	list-style-type:none;
            	cursor:pointer;
            	float:left;
            	margin:0 2px 0 2px;
            	a {
              	color:#FFF;
              	padding:3px 6px 6px 6px;
              	
              	font-size:12px;
              	font-weight:300;
              	@include text-shadow(1px 1px 0px #000);
              }
            	&.active, &:hover{
            	  a{
              	  background:#FFF;
              	  padding:5px;
              	  @include border-radius(5px);
              	  color:#000;
              	  @include text-shadow(none);
              	  border:1px solid #666;
            	  }
            	}
              
            }
          }
          
          .testimonial_box{
            padding-bottom:10px;
            .testimonial{
              color:#231F20;
            }
            .name{
              color:#691415;
              padding-left:20px;
            }
          }
          
        }
        
        //
        
        
      }

      
    }
    
    .footer{
      height:auto;
      @include linear-gradient(#404041, #58595B);
      text-align:center;
      color:#FFF;
      padding:10px;
    }
    
  }
  


}
